<footer class="footer">
  <ul class="footer__menu">
    <li class="footer__menu--element">
      <a href="https://adalab.es/" class="footer__link" title="Ir a Articles"
        >Articles</a
      >
    </li>
    <li class="footer__menu--element">
      <a href="https://adalab.es/" class="footer__link" title="Ir a Books"
        >Books</a
      >
    </li>
    <li class="footer__menu--element">
      <a href="https://adalab.es/" class="footer__link" title="Ir a Events"
        >Events</a
      >
    </li>
    <li class="footer__menu--element">
      <a href="https://adalab.es/" class="footer__link" title="Ir a Reasons"
        >Reasons</a
      >
    </li>
    <li class="footer__menu--element">
      <a href="https://adalab.es/" class="footer__link" title="Ir a Tips"
        >Tips</a
      >
    </li>
  </ul>
  <ul class="footer__social">
    <li class="footer__social--element">
      <a href="https://adalab.es/" class="footer__link" title="Ir a Twitter"
        >Twitter</a
      >
    </li>
    <li class="footer__social--element">
      <a href="https://adalab.es/" class="footer__link" title="Ir a Instagram"
        >Instagram</a
      >
    </li>
    <li class="footer__social--element">
      <a
        href="https://adalab.es/"
        class="footer__link"
        title="Ir a Mastodon.social"
        >Mastodon.social</a
      >
    </li>
  </ul>
  <div class="copyright">©2021</div>
  <small class="love">We 🧡 components</small>
</footer>
