//Colours
$orange: #f26002;
$darkblue: #304268;
$lightblue: #8ccbea;
$grey: #4a4a4a;
$iceblue: #eff9ff;
$blue: #0271bc;
$white: #ffffff;
//Fonts
$title: "Roboto Slab", serif;
$text: "Roboto", sans-serif;
