.footer {
  background-color: $darkblue;
  font-family: $text;
  font-size: 16px;
  color: $white;
  text-transform: uppercase;
  line-height: 30px;
  &__link {
    color: $white;
    text-decoration: none;
  }
}
.link-start {
  width: 45px;
  height: 45px;
  border-radius: 22.5px;
  background-color: $white;
  background-image: url(../images/ico-arrow.svg);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 50%;
  transform: translate(-22.5px, -22.5px);
  animation-name: bounce;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}
@keyframes bounce {
  0% {
    transform: translate(-22.5px, -17.5px);
  }
  50% {
    transform: translate(-22.5px, -27.5px);
  }
  100% {
    transform: translate(-22.5px, -17.5px);
  }
}
.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media all and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }
  @media all and (min-width: 1280px) {
    justify-content: center;
  }
}
.footer__menu {
  list-style: none;
  margin-top: 60px;
  @media all and (min-width: 768px) {
    margin: 45px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    order: 1;
  }
  @media all and (min-width: 1280px) {
  }
}
.footer__menu--element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer__link {
  padding: 5px;
}
.footer__social {
  list-style: none;
  margin: 30px;
  @media all and (min-width: 768px) {
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    order: 2;
  }
}
.footer__social--element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.copy {
  margin-bottom: 45px;
  @media all and (min-width: 768px) {
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    order: 0;
  }
}
.love {
  text-transform: lowercase;
  margin-bottom: 45px;
}
.heart-container {
  display: inline-block;
  width: 25px;
  text-align: center;
}
.heart {
  animation-duration: 1.5s;
  animation-name: beat;
  animation-iteration-count: infinite;
  @keyframes beat {
    0% {
      font-size: 14px;
    }
    50% {
      font-size: 16px;
    }
    100% {
      font-size: 14px;
    }
  }
}
