.hero {
  width: 100vw;
  height: 100vh;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.hero__title {
  text-transform: uppercase;
  color: $white;
  font-family: $title;
  font-weight: 700;
  font-size: 42px;
  margin: 15px;
  @media all and (min-width: 768px) {
    font-size: 80px;
  }
  @media all and (min-width: 1280px) {
    font-size: 100px;
  }
}
.hero__title--line {
  display: flex;
  justify-content: center;
}
.hero__text {
  font-family: $text;
  font-weight: 400;
  font-size: 16px;
  color: $white;
  @media all and (min-width: 768px) {
    font-size: 24px;
  }
}
.link-three {
  width: 45px;
  height: 45px;
  margin: 45px;
  border-radius: 25px;
  background-color: $white;
  background-image: url(../images/ico-scroll-down.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.window {
  padding: 30px 15px;
  background-color: $white;
  display: flex;
  flex-direction: column;
  @media all and (min-width: 768px) {
    padding: 30px 39px;
  }
  @media all and (min-width: 1280px) {
    padding: 60px 275px;
  }
}
.window__small {
  height: 30px;
  font-family: $text;
  font-size: 14px;
  color: $lightblue;
}
.window__title {
  height: 60px;
  font-family: $title;
  font-weight: 700;
  font-size: 24px;
  text-transform: capitalize;
  margin-bottom: 15px;

  @media all and (min-width: 768px) {
    font-size: 26px;
    margin-bottom: 30px;
    height: 45px;
  }
  @media all and (min-width: 1280px) {
    font-size: 32px;
  }
}
.window__text {
  font-family: $text;
  font-size: 18px;
  line-height: 1.5;
  color: $grey;
  margin-bottom: 30px;
  @media all and (min-width: 768px) {
    font-size: 20px;
  }
}
.window__button {
  font-family: $text;
  font-weight: 500;
  font-size: 20px;
  color: $buttoncolor;
  text-decoration: none;
  height: 45px;
  width: 76px;
  border: 2px solid $buttoncolor;
  border-radius: 22.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color ease 0.5s, background-color ease 0.5s,
    border-color ease 0.5s;
  &:hover {
    color: $white;
    background-color: $darkblue;
    border-color: $darkblue;
  }
  @media all and (min-width: 768px) {
    width: 91px;
  }
  @media all and (min-width: 1280px) {
    width: 160px;
  }
}
.prices {
  background-color: $orange;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  @media all and (min-width: 768px) {
    grid-template-rows: 1fr 1fr;
  }
}
.prices__title {
  grid-column: span 3;
  color: $white;
}
.prices__subtitle1 {
  margin: 20px;
  grid-column: span 3;
  color: $white;
  @media all and (min-width: 768px) {
    grid-column: 1 / 2;
    text-align: left;
  }
}
.prices__subtitle2 {
  margin: 20px;
  grid-column: span 3;
  color: $white;
  @media all and (min-width: 768px) {
    grid-column: 3 / 4;
    text-align: right;
  }
}
.reasons {
  background-color: $iceblue;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
}
.reasons__title {
  font-family: $title;
  font-weight: 700;
  font-size: 24px;
  text-transform: capitalize;
  height: 30px;
  grid-column: span 12;
  margin-top: 30px;
  margin-bottom: 45px;
}
.reason1 {
  grid-column: span 12;
  margin-bottom: 45px;
  @media all and (min-width: 768px) {
    grid-column: 1 / 5;
  }
}
.reason2 {
  grid-column: span 12;
  margin-bottom: 45px;
  @media all and (min-width: 768px) {
    grid-column: 5 / 9;
  }
}
.reason3 {
  grid-column: span 12;
  margin-bottom: 45px;
  @media all and (min-width: 768px) {
    grid-column: 9 / 13;
  }
}
.link-reasons {
  grid-column: 4 / 10;
  margin-bottom: 60px;

  font-family: $text;
  font-weight: 500;
  font-size: 20px;
  border: 2px solid $buttoncolor;
  border-radius: 22.5px;
  background-color: $buttoncolor;
  color: $white;
  height: 45px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color ease 0.5s, background-color ease 0.5s,
    border-color ease 0.5s;
  &:hover {
    color: $darkblue;
    background-color: $white;
    border-color: $darkblue;
  }
  @media all and (min-width: 768px) {
    grid-column: 5 / 9;
  }
  @media all and (min-width: 1280px) {
    grid-column: 6 / 8;
  }
}
.reason__title {
  font-family: $title;
  font-weight: 700;
  font-size: 18px;
  height: 30px;
}
.reason__text {
  font-family: $text;
  font-size: 18px;
  padding: 0px 70px;
  @media all and (min-width: 768px) {
    padding: 0px 25px;
  }
  @media all and (min-width: 1280px) {
    padding: 0px 60px;
  }
}
